<app-nav></app-nav>


<table class="table mt-4">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Role</th>
        <th scope="col">Action</th>
        <div class="Action"></div>
      </tr>
    </thead>
    <tbody class="justify-content-center">
      <tr *ngFor="let item of items; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ item.name }}</td>
        <td>{{ item.description }}</td>
     
        <td>







