<app-nav></app-nav>


<div class="container-flud mt-6" [formGroup]="form">
  <div class="container" >


      <!-- form starts here -->
      <div class="row mt -4" >
          <input type="text" class="form-control" placeholder="enter" aria-describedby="button-addon2"
              formControlName="name">

          <input type="text" class="form-control" placeholder="enter" aria-describedby="button-addon2"
              formControlName="description">
          <button class="btn btn-outline-sucesss" type="button"class="btn btn-primary"(click)="create()">Add</button>



      </div>

  </div>

<table class="table mt-4">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Items</th>
        <th scope="col">Description</th>
    
        <th scope="col">Action</th>
        


        <div class="Action"></div>
      </tr>
    </thead>
    <tbody class="justify-content-center">
      <tr *ngFor="let item of items; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ item.name }}</td>
        <td>{{ item.description }}</td>
        <td>
          <div class="btn-group d-grid gap-4 d-md-flex">

            <button class="btn btn-primary" type="button">Edit</button>
            <button class="btn btn-danger"  (click)="delete(item?._id)"  type="button">Delete</button>
          </div>










